sudo: false
notifications:
  email:
  - erik.m.bray@gmail.com
  on_failure: always
env:
  global:
  - secure: Huq0ZXjcudOlm10uKg9RMzj78aEzf21fESna0JdGVP7w2nqBgc9akk6nTBFWjV+3oRjeG/vmD5Vh9/i2Ms7q6WRvXEI7hPgkSlgmGwqSerZdbI6pvBf/0l+FESEj50GiX/Q9PacxMnsk+XzN7eMrj00PqqIgn0ZHsmF3dVfzmjg=
language: python
branches:
  only:
  - master
before_install:
- pip install -r requirements.txt
- git submodule update --init
install:
- fab build
script:
- fab travis_deploy
