<p>
I am a software engineer and open source hacker currently working at the
<a href="http://www.stsci.edu/">Space Telescope Science Institute</a>,
home to science operations for the
<a href="http://hubblesite.org/">Hubble Space Telescope</a> and the upcoming
<a href="http://webbtelescope.org/webb_telescope/">James Webb Space Telescope</a>,
where I write and provide support for astronomy software.  I also occasionally
moonlight as a volunteer instructor for 
<a href="http://software-carpentry.org/">Software Carpentry</a>,
where I help researchers and students from accross disciplines learn software
development skills.
</p>
<p>
I am a jack-of-many-trades master of...few.  I have worked on everything from
reverse-engineering to kernel hacking to web frontent development.  I am also
interested in managing open-source projects, software design and management
best-practices, and software packaging and documentation.  I have been a
Pythonista for seven years now and don't see myself going back any time soon—I
do the vast majority of my work in Python anymore, though I'm open-minded to
any other languages that get throw at me.  I also like C and JavaScript (the
good parts anyways).  I edit in vim.
</p>
<p>
I maintain a <a href="https://github.com/embray/">"professional" GitHub account</a>
for projects I actually get paid to work on, as well as a separate
<a href="https://github.com/iguananaut">"personal" account</a> for more
personal work.  Though I'm currently reconsidering this scheme.  I also have
<a href="https://bitbucket.org/embray">Bitbucket</a> account where I mostly
house projects in Mercurial repositories.  You can also find me on
<a href="http://stackoverflow.com/users/982257/iguananaut">Stack Overflow</a>
and, yes, <a href="http://www.linkedin.com/pub/erik-bray/19/2a8/a22/">LinkedIn</a>.
</p>
<p>
I have a B.S. Computer Science and a B.A. Japanese Language and Literature from
University of Massachusetts, Amherst.  I am currently in the throes of an M.S.
Applied Physics at Johns Hopkins University.
<p>
I live in Baltimore, MD with my partner
<a href="http://celineloup.com">Céline</a>, our three cats, two birds, and a
snake.  I am vaguely gender-queer and try to be active in social justice,
particularly from a secular/skeptical perspective through involvement with the
<a href="http://atheismplus.com/">Atheism+</a> community, and occasionally
help out with <a href="http://www.theblockbot.com/">The Block Bot</a>.
</p>
<h3>Contact</h3>
<ul>
  <li>
    <strong>E-mail: </strong>
    <a href="mailto:erik.m.bray@gmail.com">erik.m.bray@gmail.com</a>
  </li>
  <li>
    <strong>Twitter: </strong>
    <a href="https://twitter.com/Iguananaut">@Iguananaut</a>
  </li>
</ul>
</p>
<p class="cya">
This site is for my personal writings on software and other topics—all opinions
expressed are my own and not representative of any organizations or projects I
work for unless explicitly stated otherwise.
</a>
